<div class="p-d-flex p-jc-center">
    <p-card class="p-col-12 p-md-10 p-lg-8 p-xl-6">
        <div class="p-d-flex p-jc-center">
            <div class="text-3xl p-mb-3">Usuário</div>
        </div>
        <form [formGroup]="formulario" class="p-fluid p-formgrid p-grid p-my-3">
            <div class="p-field p-col-12 p-md-6">
                <label for="nome">Nome</label>
                <input id="nome" type="text" formControlName="nome" pInputText />
                <app-input-validation inputLabel="Nome" [control]="nome" [notBlank]="true"
                    [maxLength]="50"></app-input-validation>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" pInputText />
                <app-input-validation inputLabel="Email" [control]="email" [notBlank]="true" [email]="true"
                    [minLength]="10"></app-input-validation>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="data-nascimento">Data de Nascimento</label>
                <p-calendar id="data-nascimento" formControlName="dataNascimento" dateFormat="dd/mm/yy"
                    [yearNavigator]="true" [monthNavigator]="true" [showIcon]="true" yearRange="1900:2030"
                    [maxDate]="ontem"></p-calendar>
            </div>
            <div class="p-field p-col-12 p-md-6">
            </div>
            <div *ngIf="!id" class="p-field p-col-12 p-md-6">
                <label for="login">Login</label>
                <input id="login" type="text" formControlName="login" pInputText />
                <app-input-validation inputLabel="Login" [control]="login" [notBlank]="true" [minLength]="5"
                    [maxLength]="20"></app-input-validation>
            </div>
            <div *ngIf="!id" class="p-field p-col-12 p-md-6">
                <label for="senha">Senha</label>
                <input id="senha" type="password" formControlName="senha" pInputText />
                <app-input-validation inputLabel="Senha" [control]="senha" [notBlank]="true" [minLength]="4"
                    [maxLength]="10"></app-input-validation>
            </div>
        </form>
        <div class="p-d-flex p-jc-around">
            <button pButton label="Salvar" icon="pi pi-check" class="p-button-text p-button-primary" (click)="enviar()"
                [disabled]="!formulario.valid"></button>
            <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger"
                (click)="voltar()"></button>
        </div>
    </p-card>
</div>