<p-table [value]="usuarios" rowHover="true" styleClass="p-datatable-lg p-datatable-gridlines p-datatable-striped">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
            <div class="text-xl">Lista de Usuários</div>
            <p-button routerLink="criar" label="Cadastrar Usuário" icon="pi pi-plus"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of colunas">
                {{col.cabecalho}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td *ngFor="let col of colunas">
                {{usuario[col.campo]}}
            </td>
        </tr>
    </ng-template>
</p-table>